body{
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/06/8b/be/068bbe06363dbbeade0cdc77b4521a74.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
